[submodule "raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "VkFFT"]
	path = lib/VkFFT
	url = https://github.com/DTolm/VkFFT.git
[submodule "glslang"]
	path = lib/glslang
	url = https://github.com/KhronosGroup/glslang.git